/* This main css file contains the default rules and is geared toward the small/phone view */

* { box-sizing: border-box;}  /* This wildcard applies to all elements ensuring a box layout model */

body {
    font-size: 16px;
    /* Declare the base font-family - from google font api or other */
    font-family: "Comic Sans MS", cursive, sans-serif;
    background-color: antiquewhite;
}

header, nav, main, footer { /* the comma means apply the following CSS declarations to all of the listed elements */
    /* Declare the maximum width and other main element rules to limit the stretch on wide views */
	max-width: inherit;
}

header {
    display: block;
    margin-top: 0.3em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 8px;
    border-color: #3aaed8;
    background-color: #3aaed8;

}
header h1 {
        color: saddlebrown;
        font-family: monospace;
        text-align: center;
        line-height: 26.4px;
        font-variant: normal;}
	
	
}

header .subheading {
    font-size: 1.25em;
    font-family: "Dancing Script";
	text-align: center;
}


main {
    display: flex;
    flex-direction: column;
}

main h2 {
    text-align: center;
}

main figure img {
width:100%; 
}

section {}

.forecast {
    display: none;
}

.highlow{
    display:flex;
    flex-wrap:wrap;
}

.highlow p {
    margin: auto;
}

.current {
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center
}

.current p {
    display: flex;

}

.current picture {
   padding-top: 10px;
}

.conditions {
    text-align: center;

}

article h3{
    text-align: center;
}

article {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-style: solid;
    border-width: thin;
    border-color: black;
   background-color: aliceblue;
}

article p {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

article p.town-article img {  /* This structure refers to img elements that are the posterity of paragraph elements within artcle elements */
    max-width: 90%; /* fill the page in the small/phone view */
    display: flex;
    border: solid;
    border-width: thin;
    border-color: black;
}

footer {
    display: flex;
    flex-direction: column;
    text-align: center;
}
footer aside {
    text-align: center;
    background-color: #2bd9fe;
    word-break: normal;
}
footer > p {
    background-color:dimgrey;
    color: white;
    margin: 0;
} /* This structure refers to p elements that are direct children of the footer element */

/*galery*/

.gallery {
    display: grid;
    grid-template-columns: 4fr;
    grid-gap: 46px;
    text-align: center;
    margin-top: 30px;
}

.hover{
    max-width: 100%;
}

.hover:hover {
    box-shadow: 5px 5px 10px gray;
}


/* Hide the link that should open and close the topnav on small screens */
.navigation .hamburger {
    display: none;
}

/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 600px) {
  .navigation:not(:first-child) {display: none;}
  .navigation .hamburger {
    float: right;
    display: block;
  }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 600px) {
  .navigation.responsive {position: relative;}
  .navigation.responsive .hamburger {
    position: absolute;
    right: 0;
    top: 0;
  }
  .navigation.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

p.date {align-content: center;}

main {
	width: 100%;
	margin: auto;
}



form.thanks { color: red;
display:flex;
	margin: 10%;
}