@media only screen and (min-width: 64em) {
    /* Only CSS rules that need to be changed to meet the layout needs from medium to large/wide go in here */

    .mypic{
		width: 100%;
        display: flex;
        flex-direction: column;
        align-items: stretch;
        font-size: 1.20em;
    }

 .forecast{
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-grow: 2;

    }
	
    article p.town-article img { width: 30%; }


    .gallery {
        grid-template-columns: 1fr 1fr 1fr;
    }
    .hover:hover{
        box-shadow: none;

    }
    .pic:hover{
        box-shadow: 5px 5px 10px gray;
    }

}