* { margin: 0; box-sizing: border-box; } 

body { 
    font-size: 12px; 
    line-height: 30px;
    font-family: /* font */;
    color: blueviolet/* #xxxxxx */;
}

h1 {
    font-size:14px/* font */;
    color: white/* #xxxxxx */;
}

h2 {
    font-size: 14px/* x.xrem */;
    text-align: center;
    border-bottom: 1px solid #bbb;
}







header, main, footer {
    margin: 1.25rem auto;
    padding: .5rem;
    max-width: 355p;
}

header, footer, footer a {
    text-align: justify;
    background-color: cornflowerblue/* */;
    color: white;
}

header img {
    width: 200px;
    height: 273p;
    float: right;
}

.nav{
    border:1px solid #ccc;
    border-width:1px 0;
    list-style:none;
    margin:0;
    padding:0;
    text-align:center;
}
.nav li{
    display:inline;
}
.nav a{
    display:inline-block;
    padding:10px;
}






footer {
    font-size: 12 /* 12 */;
}

width="200" height="273"

